<% include top %>
    <div>
        <table>
            <tr>
                <th colspan="2">userreg</th>
            </tr>
            <tr>
                <td >user:</td>
                <td><input type="text" name="txtUserName" value=""></td>
            </tr>
            <tr>

                <td >pwd:</td>
                <td><input type="text" name="txtUserName" value=""></td>
            </tr>
        </table>
    </div>
<% include bottom %>
    