<% include top.ejs %>

    <div>
        <table>
            <tr>
                <th colspan="2">userlogin</th>
            </tr>
            <tr>
                <td >user:</td>
                <td><input type="text" name="txtUserName" value=""></td>
            </tr>
            <tr>

                <td >pwd:</td>
                <td><input type="text" name="txtUserName" value=""></td>
            </tr>
        </table>
    </div>

    <% include bottom.ejs %>

  