<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <title>会员列表</title>

        <link href="{$smarty.const.ADMIN_CSS_URL}mine.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <style>
            .tr_color{ background-color: #9F88FF }
        </style>
        <div class="div_head">
            <span>
              
                  <!--   <a style="text-decoration: none;" href="{$smarty.const.__CONTROLLER__}/tianjia" target='_self'>【添加】</a> -->

          <!--           <a style="text-decoration: none;" href="{$smarty.const.__CONTROLLER__}/out" target='_self'>【导出信息】</a> -->
                </span>
            </span>
        </div>
        <div></div>
       
    
        <div style="font-size: 13px; margin: 10px 5px;">
            <table class="table_a" border="1" width="100%">
                <tbody><tr style="font-weight: bold;">
                        <td>序号</td>
                        <td>会议名字</td>
                        <td>内容</td>
                        <td>创建时间</td>                  
                        <!-- <td>创建时间</td> -->
                        <td align="center">操作</td>
                    </tr>
                    {foreach $info as $k => $v}
                    <tr id="product1">
                    <td>{$v.meet_id}</td>
                        <td>{$v.title}</td>
                        <td><a href="#">{$v.content}</a></td>
                        <td>{$v.time|date_format:"%Y-%m-%d %T"}</td>
                        <td><a href="{$smarty.const.__CONTROLLER__}/xiugai/goods_id/{$v.goods_id}">修改</a></td>
                        <!-- <td><a href="javascript:;" onclick="delete_product(1)">删除</a></td> -->
                    </tr>
                    {/foreach}
                    <tr>
                        <td colspan="20" style="text-align: center;">
                            {$pagelist}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>